body{
    background-image: url("/img/journal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 50px;

}
label{
    color: white;
    font-weight: bold;
}
h3{
    color: white;
    font-weight: bold;
}
.form-control{
    width: 80% !important;
}